@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
/* Font Weight */
/* Color */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
}

#main {
  height: 100vh;
}

#main #hero {
  height: 66vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main #hero .hero_left {
  background: url("./images/desktop-image-hero-1.jpg") no-repeat center center/cover;
  width: 60vw;
  padding: 3% 0 0 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#main #hero .hero_left #logo {
  margin: 0 0.7rem;
  cursor: pointer;
}

#main #hero .hero_left #navbar {
  margin-left: 5%;
  -ms-grid-column-align: center;
      justify-self: center;
}

#main #hero .hero_left #navbar .nav_list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main #hero .hero_left #navbar .nav_list li {
  margin-right: 1.5rem;
  position: relative;
}

#main #hero .hero_left #navbar .nav_list li a {
  text-decoration: none;
  text-transform: lowercase;
  color: white;
}

#main #hero .hero_left #navbar .nav_list li:hover a::after {
  display: block;
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  left: 25%;
  margin-top: 0.3rem;
  background: white;
}

#main #hero .hero_left #silder_buttons {
  position: absolute;
  right: -10vw;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
}

#main #hero .hero_left #silder_buttons #prev,
#main #hero .hero_left #silder_buttons #next {
  width: 5vw;
  height: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#main #hero .hero_left #silder_buttons #prev:hover,
#main #hero .hero_left #silder_buttons #next:hover {
  background: #454545;
}

#main #hero .hero_right {
  width: 40vw;
}

#main #hero .hero_right .product_Slider {
  display: none;
  margin: 15%;
}

#main #hero .hero_right .product_Slider h1 {
  font-weight: 700;
  font-size: 35px;
}

#main #hero .hero_right .product_Slider > p {
  margin: 1.5rem 0;
  line-height: 1.2rem;
  font-size: 12px;
  color: #a1a1a1;
}

#main #hero .hero_right .product_Slider .shop_now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

#main #hero .hero_right .product_Slider .shop_now p {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
}

#main #hero .hero_right .product_Slider .shop_now svg {
  margin-left: 1.7rem;
}

#main #hero .hero_right .product_Slider .shop_now:hover p {
  color: #a1a1a1;
}

#main #hero .hero_right .product_Slider .shop_now:hover svg path {
  fill: #a1a1a1;
}

#main #hero .hero_right .product_Slider.current {
  display: block;
}

#main #about {
  height: 34vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main #about .dark,
#main #about .light {
  width: 30vw;
}

#main #about .dark {
  background: url("./images/image-about-dark.jpg") no-repeat center center/cover;
}

#main #about .light {
  background: url("./images/image-about-light.jpg") no-repeat center center/cover;
}

#main #about .content {
  width: 40vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 2.5rem;
}

#main #about .content h4 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

#main #about .content p {
  margin-top: 0.6rem;
  line-height: 1.2rem;
  color: #a1a1a1;
}
/*# sourceMappingURL=style.css.map */